// Extenciones navmenu

%socialLink{
    display: grid;
    grid-template-columns: 10fr 2fr 1fr;
    justify-content: center;
    list-style: none;
}

%content{ 
    color:white;
    padding: 0px 20px 20px 40px ;
}

%itemFotos{
text-shadow: 1px 1px 2px black, 0 0 1em #004040, 0 0 0.2em #004040;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

%tituloEsp{
    background-color:#797878;
    color:white;
    margin-top: 200px;    
    text-align:center;
    font-size: 2.3em;;
    width: 100%;
    height: 50px;
}

%textcard{
margin-top: 10px;
font-size: large;
font-weight: 900;
text-align: center;
}

%marginSection{
    margin-top: $margin-top-sections;
    margin-bottom: $margin-top-sections;
}

%footer{
    width: 90px;
    height: 2px;
}