

/* ////// SECCION 1 - BIENVENIDO CAROUSEL  ////// */



.carousel-inner{
    margin-top: $margin-top-sections;
    margin-bottom: 30px; 
 
    img{
        width: 360px;
        height: 600px;
    }


    .carousel-caption{
        p{
            font-size: 1.3em;
            font-weight: 900;
        } 
        h3{
            font-weight: 800;
        }

        h2{
            color:$bg-letras;
            font-size: 2.5em;
            font-weight: 900;      
        }

        h1{
            color:$bg-letras;
            text-align: center  ;
            font-size: 1.3em;
            font-weight: 900;
            padding-top: 20px;
        }
    }


}

/* ////// SECCION 2 - ESPECIALISTAS EN ////// */


.container__esp{
    @extend %marginSection;
    background-color:$bg-seccion1;
    width: 100%;

    .titulo__sections{
        color:$bg-letras;
        font-size: 2.3em;
        font-weight: 900;
        margin:10px 0px 0px 40px;
        padding-top: 40px;
    }

        .card{
            margin-top:50px;
        }

        .card-title{
            font-weight:900;
            background-color:$bg-principal;   
            text-align: center;
            font-size: 1em;
            color:$bg-letras;
            text-transform:uppercase;
    
        }
        .card-text{
            color:$bg-letrecontraste;
            font-weight:800;   
            
        
        }  


        .btn {
            background-color:$bg-principal;
            border: none;
        }

        .btn:hover{
            background-color: $bg-principal;

        }
}



/* ////// SECCION PROD - TITULO  ////// */
.titulo{
    h1{
        font-weight: 900;
    }
    h2{
        font-weight: 900;
        text-align: center;
        padding:5px;

    }
}



/* ////// SECCION 3 - QUIENES SOMOS ////// */

.section{
    @extend %marginSection;
}

.container__seccion {
    background:$bg-seccion2;

   
     

    .titulo__sections {
        color:$bg-letras;
        margin:10px 0px 10px 40px;
        font-size: 2.3em;
        font-weight: 900;   
        padding-top: 40px;
    }      

            .container__quienes__descripcion{
                color:$bg-letras ;
                margin:20px 0px 10px 40px;
                font-size: 1.2em;
                font-weight: 500;
                text-align: left;
    
                span{
                    color:$hover-txtmenu;
                }

            }
}


/* ////// SECCION 4 - MISION ////// */


.container__mision__fondo{
    background-image: $fotoMision;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;



    .container__mision {
        background-color: $bg-seccion1;
        width:$totalWidth;
        height: 500px;
        margin-bottom: 100px;
        margin-top:$margin-top-sections;

        img{
            margin-left: 20px;
            }

        .titulo__sections {
            color:$bg-letras;
            font-size: 2.3em;
            font-weight: 900;   
            margin:10px 0px 10px 40px;
            padding-top: 40px;
        }

        .container__mision__descripcion{
            color:$bg-letras;
            font-size: 1.2em;
            font-weight: 500;
            text-align: left;
            padding: 0px 20px 20px 40px ;
        } 

    }        

}

/* ////// SECCION 5 - REPRESENTANTES  ////// */

.card-deck{
        background-color: $bg-seccion1;
        p{
        text-align: left;
        color:$bg-letrecontraste;
        }

        h4{
            color:$bg-letrecontraste;
            font-weight: 600;
        
        }
        
}




/* ////// SECCION 6 - CONOCER + ////// */

.container__conocer {
	width: $totalWidth;
	height: 200px;
    margin-top: $margin-top-sections;
    margin-bottom: 120px ;
    color:$bg-letras;
    background-color: $bg-seccion1;
    
        .container__conocer__titulo{
            color:$bg-letras;
            font-size: 2.3em;
            text-align: center;
            padding-top: 60px;
        }

         a{
            color:$bg-letras;
            padding-top: 20px;
            margin-left: 45%;
        }
}

/* ////// SECCION  WHATSAPP ////// */

.float {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 72px;
    right: 50px;
    background-color: #01B32B;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 34px;
    z-index: 1;

    &:hover{
        color: $bg-principal;
    }

}

/* ////// SECCION  FOOTER ////// */

.container-footer{
    margin-top: 100px;

    #hr1{
        @extend %footer;
    }

    #hr2{
        width: 150px;
        height: 2px;
    }

    #hr3{
        @extend %footer; 
    }

    h6, p, li, a  {
        color:$bg-letras;
    }


}