// variables secciones 

$bg-principal:#004040;
$bg-seccion1:#797878;
$bg-seccion2:#323535;
$span:red;

// variables generales 

$bg-letras:white;
$bg-letrecontraste:#000;
$hover-txtmenu:#4afa04;
$hover-txtsubmenu:#004040;

// Medidas
$totalWidth:100%;
$margin-top-sections:200px;
 

// imagenes varias

$fondoPrinicpal:url(../images/FondoDesign1.png);
$fotoMision:url(../images/FondoDesign2.png);